<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="js/underscore-min.js" type="text/javascript"></script>
    <script src="js/backbone-min.js" type="text/javascript"></script>
    <script src="js/models/human.js" type="text/javascript"></script>
    <script src="js/collections/humans.js" type="text/javascript"></script>
    <script src="js/views/familyview.js" type="text/javascript"></script>
    <script src="js/router.js" type="text/javascript"></script>
    <style type="text/css">
        th{
            text-align: left;
        }


    </style>
    <script type="text/template" id="member">
        <tr class="member">
            <td><%= fname %></td>
            <td><%= lname %></td>
            <td><%= age %></td>
            <td><%= sex %></td>
        </tr>
    </script>
</head>
<body>
    <table id="family" width="600px">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Sex</th>
        </tr>
    </table>
</body>
</html>